<!DOCTYPE html>
<html>
<title>COVID-19 Test</title>

<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" if="image">
                <label class="custom-file-label" for="image">Select image...</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
</body>

</html>